In [1]:
# DataFrames 
# it is a bunch of series                                         # shift + tab for properties

In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)                      # to see same random no.'s

In [13]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])   # 5 rows and 4 columns

In [14]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df                                      # df is a dataframe

          W         X         Y         Z
A  1.331587  0.715279 -1.545400 -0.008384
B  0.621336 -0.720086  0.265512  0.108549
C  0.004291 -0.174600  0.433026  1.203037
D -0.965066  1.028274  0.228630  0.445138
E -1.136602  0.135137  1.484537 -1.079805

In [11]:
df['W']                        # passing column to get value

A    1.331587
B    0.621336
C    0.004291
D   -0.965066
E   -1.136602
Name: W, dtype: float64

In [12]:
type(df['W'])               # type of df is "series"

pandas.core.series.Series

In [15]:
df.W                        # method 2 for getting value of column

A   -1.977728
B    1.123691
C   -0.271248
D    0.132708
E    0.400210
Name: W, dtype: float64

In [20]:
df[['W','Z']]               # getting values from 2 columns

          W         Z
A -1.977728  2.384967
B  1.123691  1.397996
C -0.271248 -0.549309
D  0.132708  0.195013
E  0.400210 -0.731970

In [22]:
df['new'] = df['W'] + df['Z']                        # creating new column

In [23]:
df

          W         X         Y         Z       new
A -1.977728 -1.743372  0.266070  2.384967  0.407239
B  1.123691  1.672622  0.099149  1.397996  2.521688
C -0.271248  0.613204 -0.267317 -0.549309 -0.820557
D  0.132708 -0.476142  1.308473  0.195013  0.327722
E  0.400210 -0.337632  1.256472 -0.731970 -0.331760

In [27]:
df.drop('new',axis = 1)                                               # removing column

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013
E  0.400210 -0.337632  1.256472 -0.731970

In [28]:
df

          W         X         Y         Z       new
A -1.977728 -1.743372  0.266070  2.384967  0.407239
B  1.123691  1.672622  0.099149  1.397996  2.521688
C -0.271248  0.613204 -0.267317 -0.549309 -0.820557
D  0.132708 -0.476142  1.308473  0.195013  0.327722
E  0.400210 -0.337632  1.256472 -0.731970 -0.331760

In [ ]:
# to permanently remove  column

In [29]:
df.drop('new',axis = 1,inplace = True)   # IMPORTANT

In [30]:
df                                    # new column permamently removed

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013
E  0.400210 -0.337632  1.256472 -0.731970

In [32]:
df.drop('E', axis = 0)                                 # drop row

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013

In [33]:
df.shape

(5, 4)

In [ ]:
# Selecting Rows

In [34]:
df.loc['A']                      # assesing rows

W   -1.977728
X   -1.743372
Y    0.266070
Z    2.384967
Name: A, dtype: float64

In [35]:
df.iloc[2]                         # index based location acess of row

W   -0.271248
X    0.613204
Y   -0.267317
Z   -0.549309
Name: C, dtype: float64

In [37]:
df.iloc[[0,1,2]]                   # getting more than one row

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309

In [38]:
df.loc['B','Y']                                  # value at row B   column Y

0.09914921583524362

In [39]:
df.iloc[1,2]                                    # value at 1st row and 2nd column

0.09914921583524362

In [41]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -1.977728  0.266070
B  1.123691  0.099149