In [1]:
# Pandas is an opensource library built on Numpy

# SERIES

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
labels = ['a','b','c']                   # creating  lists
my_data = [10,20,30]           
arr = np.array(my_data)

In [7]:
d = {'a':10 , 'b':20 ,'c':30}           # create a dictionary   where a,b,c are keys and 10,20,30 as values

In [9]:
pd.Series(data = my_data)              # creating series

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data ,index = labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [45]:
 ser1 = pd.Series([1,2,3,4],['USA','INDIA','JAPAN','GERMANY'])     # grab info from series

In [46]:
ser1

USA        1
INDIA      2
JAPAN      3
GERMANY    4
dtype: int64

In [40]:
ser2 = pd.Series([1,2,5,4],['USA','INDIA','ITALY','GERMANY'])

In [41]:
ser2

USA        1
INDIA      2
ITALY      5
GERMANY    4
dtype: int64

In [43]:
ser1['USA']               # pass in Label to get index value( data point)

1

In [36]:
ser2['GERMANY']

4

In [38]:
labels

['a', 'b', 'c']

In [33]:
ser3 = pd.Series(data=labels)

In [35]:
ser3[0]

'a'

In [47]:
ser1 + ser2

GERMANY    8.0
INDIA      4.0
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64