In [ ]:
# multi index and index heirarchy

In [26]:
import numpy as np
import pandas as pd

In [27]:
from numpy.random import randn

In [29]:
# index levels                                                       # building dataframe
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
outside                                                              # list

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
inside

[1, 2, 3, 1, 2, 3]

In [30]:
list(zip(outside,inside))                                            # making list using tuples

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [31]:
hier_index                                                            # creating multiindex

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [32]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [33]:
df                                                       # multilevel dataframe

             A         B
G1 1  0.095350 -0.385840
   2 -0.155733 -1.357404
   3 -0.203002  0.116994
G2 1 -1.067189 -1.748870
   2 -0.941527 -0.653531
   3 -1.164354 -0.176882

In [38]:
df.loc['G1','A'].loc[1]                                 # calling data from a multilevel dataframe

0.09534982444927305

In [40]:
df.index.names = ['GROUPS','NUM']                      # naming indexes

In [41]:
df

                   A         B
GROUPS NUM
G1     1    0.095350 -0.385840
       2   -0.155733 -1.357404
       3   -0.203002  0.116994
G2     1   -1.067189 -1.748870
       2   -0.941527 -0.653531
       3   -1.164354 -0.176882

In [43]:
df.loc['G2',2].loc['B']                                  # grab -0.653531

-0.6535307805444995

In [44]:
df.xs('G1')                                           # cross section

            A         B
NUM
1    0.095350 -0.385840
2   -0.155733 -1.357404
3   -0.203002  0.116994

In [45]:
df.loc['G1']                                          # same as above

            A         B
NUM
1    0.095350 -0.385840
2   -0.155733 -1.357404
3   -0.203002  0.116994

In [46]:
df.xs(1, level='NUM')                           # if we need values at 1 for both G1 AND G2

               A        B
GROUPS
G1      0.095350 -0.38584
G2     -1.067189 -1.74887